.form-control textarea{
    display: block;
    width: 100%;
    border: 1px solid rgb(9, 113, 82);
    font: inherit;
    border-radius: 2px;
}

.heading-form {
    width: 30rem;
    max-width: 120%;
    margin: auto;
}