
.product-form {
    width: 30rem;
    max-width: 90%;
    margin: auto;
}

.form-control {
    margin: 1rem 0;
}

.form-control label,
.form-control input {
    display: block;
    width: 100%;
}

.form-control input {
    border: 1px solid rgb(9, 113, 82);
    font: inherit;
    border-radius: 2px; 
}

button {
    font: inherit;
    border: 1px solid rgb(9, 113, 82);
    color: rgb(9, 113, 82);
    background: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover,
button:active {
    background-color: rgb(9, 113, 82);
    color: white;
}